<template>
    <h1>Applicants Data</h1>
    <p>In Memory Database</p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Family Name</th>
                <th>Address</th>
                <th>Country Of Origin</th>

            </tr>
        </thead>
        <tbody>
            <tr repeat.for="Applicant of applicants.result">
                <td>${ Applicant.id }</td>
                <td>${ Applicant.name }</td>
                <td>${ Applicant.familyName }</td>
                <td>${ Applicant.address }</td>
                <td>${ Applicant.countryofOrigin }</td>

            </tr>
        </tbody>
    </table>
</template>
